body, html {
    height: 100%;
}

.maxHeight {
    height: 100%;
}

.canvasWhite {
}

.canvasRed {
    background-color: #d9230f;
}

.canvasGreen {
    background-color: #469408;
}

.canvasBlue {
    background-color: #029acf;
}

.infoPanel {
    position: absolute;
    bottom: 0;
    right: 0;   
    padding: 20px;     
}

.stopwatch {
    color: white;
    font-size: 24px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    font-weight: bold;
}

.canvasWhite .stopwatch {
    color: black;
}

li {
    list-style-type: none;
    text-align: right;
    padding: 5px;
    color: white;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.canvasWhite li {
    color: black;
}