html, body {
    height: 100%;
    margin: 0;
}

.alphaButton {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: #333;
    padding: 5px;
}

.alphaButton:hover, .alphaButton:focus {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.ng-scope {
    height: 100%;
}

.fullBackground {
    height: 100%;
}

.container {
    padding-top: 20px;
}

.whiteFont {
    color: white;
}

.redBackground {
    background-color:#906a81;
}

.greenBackground {
    background-color:#6a9079;
}

.blueBackground {

    background-color:#6a8190;
}

.footer .glyphicon {
    font-size: 19px;
    display: block;
    
}

.glyphicon-medium {
    font-size: 45px;
}

.glyphicon-big {
    font-size: 90px;
}

.absoluteBottomRight {
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.nvdChart {
    width: 100%;
    height: 300px;
}

.absoluteBottomLeft {
    position: absolute;
    bottom: 100px;
    left: 20px;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.modal-dialog {
  padding-top: 15%;
}

.stopwatch {
    position: absolute;
    bottom: 150px;
    left: 80px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: white;
}