<div ng-controller="statsCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Report</h1>
                <p>Here's a quick graph to show you how much of your time you spend in each Red, Green and Refactor phase.</p>
                <div class="nvdChart">
                    <nvd3-pie-chart data="activityData"
                                    id="activityChart"
                                    x="xFunction()"
                                    y="yFunction()"
                                    showlabels="true"
                                    pielabelsoutside="true"
                                    showvalues="true"
                                    labeltype="percent"
                                    color="colorFunction()"
                                    legendcolor="colorFunction()"
                                    showlegend="true">
                        <svg></svg>
                    </nvd3-pie-chart>
                </div>
                
            </div>
        </div>
        <div class="absoluteBottomLeft">
            <a class="alphaButton" data-toggle="modal" data-target="#clearModal"><span class="glyphicon glyphicon-medium glyphicon-trash"></span></a>
        </div>
        <div class="row absoluteBottomRight">
            <div class="col-xs-12">
                <a class="alphaButton" ng-click="share()"><span class="glyphicon glyphicon-medium glyphicon-thumbs-up"></span></a>
            </div>
        </div>

        <!-- Model -->
        <div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Clear History</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to permanently remove your activity history?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" ng-click="clear()" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
